.card{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover img{
    transform:scalee(1.2,1.2);
    transition-duration:500ms;
    transition-timing-function: ease-out;
    opacity: 0.5;
}

.card:img{
    transform:scalee(1,1);
    transition-duration:500ms;
    transition-timing-function: ease-out;
}
.img-wrapper{
    overflow: hidden;
}