<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head> -->
<!-- <body> -->
    <div class="card" style="width: 18rem;">
        <div class="img-wrapper">
            <img src="../../assets/img.jpg" class="card-img-top" alt="image">
        </div>
        <div class="card-body">
          <h2 class="card-title">{{movie_details.Name}}</h2>
          <p class="card-text">Genre: {{movie_details.Genre}}</p>
          <p class="card-text">Price: {{movie_details.Price}}</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
<!-- </body>
</html> -->