

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Easy Book</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="#"
              >Trending</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/my-bookings"
              >My bookings</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Action</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Another action</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Something else here</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Link
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Action</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Another action</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  routerLink="#"
                  >Something else here</a
                >
              </li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="#"
              >Profile</a
            >
          </li>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search for movies"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          

            <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" routerLink="/register"
              >Register</a
            >
          </li>
        </ul>

        
</div>
    </div>
  </nav>

  <!-- Your body content goes here -->
</body>

