<div class="row">
    <div class="col-6 m-auto">
  <div
    class="card m-auto"
    style="width: 22rem; box-shadow: 3px 2px 3px 2px #888888"
  >
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form onSubmit="{submissionHandler}">
        <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>

        <br />
        <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            </div>
        <a
          href="#"
          style="
            text-decoration: none;
            padding: 12px;
            display: flex;
            justify-content: left;
          "
        >
          Forgot Password?
        </a>
        <div>
          <button
            type="submit"
            class="btn btn-danger btn-block"
            style="font-weight: bold; width: 100%"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <div style="padding: 10px; display: flex; justify-content: center">
      <small>Don't have an account? &nbsp;</small>
      <a
        href="#"
        style="text-decoration: none; font-weight: bold; color: orange"
      >
        SignUP
      </a>
    </div>
  </div>
  </div>
</div>
